body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    height: 100vh;
    margin: 0;
    background-image: url('img/tennis-balls-mod.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
 
 }