body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    height: 100vh;
    margin: 0;
    background-image: url('img/tennis-balls-mod.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 
 }

/* canvas{
     min-height: 80vw;
     max-width: 100vw;
 } */